@CHARSET "UTF-8";

body {
    background-color: #FFFFFF;
    margin: 0px auto;
    padding: 0px;
}

a {text-decoration: none;}

#contentAdmin {
    background-color: #D2DAE3;
    border: 1px solid;
    width: 1280px;
    height: 760px;
    margin: 0px auto;
}

#header {
    width: 1280px;
    height: 80px;
    background-color: #2E4358;
}

#headerLeft {
    width: 800px;
    height: 80px;
    float: left;
}

#logo {
    width: 240px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    background-image: url("images/LOGO_Web_40x240.png");
    float: left;
}

#systemName {
    width: 300px;
    height: 40px;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 24px;
    color: #FFFFFF;
    font-family: Arial;
    text-align: left;
    float: left;
}
#headerRight {
    width: 400px;
    height: 80px;
    float: right;
    text-align: center;
}

#chinese {
    width: 40px;
    height: 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 黑体;
    margin-left: 340px;
    margin-top: 20px;
    cursor: pointer;
}

#information {
    width: 170px;
    height: 20px;
    color: #FFFFFF;
    font-size: 14px;
    font-family: Arial;
    margin-top: 15px;
    margin-left: 210px;
    
}

.logout a {
    color: #FFFFFF;
    font-size: 14px;
    font-family: Arial;
    text-decoration: none;
}
.icon_user {
    width: 20px;
    height: 20px;
    background-image: url("images/ICN_Web_PersonalInformation_20x20.png.png");
    float: left;
}

.name {
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    cursor: pointer;
}

.logout {
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
#navigation {
    width: 1280px;
    height: 40px;
    background-color: #FFFFFF;
}

.navigation {
    width: 800px;
    height: 40px;
}

.navigation ul {
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
    line-height: 40px;
}
.navigation ul li{
    width: 190px;
    height: 40px;
    list-style: none;
    float: left;
    margin-right: 120px;
    text-align: center;
    cursor: pointer;
}

.navigation ul li a {
    font-size: 18px;
    color: #2E4358;
    font-family: Arial;
}

#path {
    width: 1280px;
    height: 30px;
}

#pathInformation {
    width: 300px;
    height: 30px;
    margin-left: 20px;
    text-align: left;
    line-height: 30px;
    font-size: 12px;
    font-family: Arial;
    color: #0A0A0A;
}

#pathInformation span {
	color: #5E5E5E;
}

#content {
    border: 1px solid #9D9D9D;
    width: 1240px;
    height: 560px;
    margin-left: 20px;
    background-color: #FFFFFF;
    border-radius: 5px; 
}

#footer {
    width: 1280px;
    height: 50px;
    font-size: 12px;
    font-family: Arial;
    color: #0A0A0A;
    text-align: center;
    padding-top: 5px;
}